:root {
	--color-bg-0: #202020;
	--color-bg-1: #303030;
	--color-bg-2: #555;
	--color-text: #e0e0e0;
	--color-text-dim: #777;
	--color-text-kinda-dim: #999;
	--color-theme-1: #f74242;
	--color-theme-2: #f1ad46;
	--color-theme-3: #7adf7f;
	--color-theme-4: #3cb9f3;

    background: var(--color-bg-0);
    color: var(--color-text);
	scrollbar-width: thin;
}



h1 {
	font-size: 1.7rem;
	color: var(--color-theme-2);
	margin: 5px 0;
	letter-spacing: 2px;
}





input[type="number"] {
	height: 30px;
	margin: 5px 0;
	padding: 0 5px;
	font-size: 0.8rem;

	background: black;
	border: 1px solid transparent;
	color: var(--color-theme-2);
	border-radius: 4px;
	outline: none;
	text-align: center;

	/* Hide arrows for number input */
	&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
.active input {
	border: 1px solid var(--color-theme-2);
}


button {
	height: var(--button-size);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: clamp(7px, 4vw, 15px);
	border: none;
	cursor: pointer;
	box-shadow: 0 4px 0 black;
	font-size: 1.8rem;

	color: var(--button-color);
	--button-bg-color: #9b9b9b;
	background: color-mix(in oklab, var(--button-bg-color) 30%, black 70%);
	border: 1px solid color-mix(in oklab, var(--button-color) 80%, black 20%);

	&:hover {
		background: color-mix(in oklab, var(--button-bg-color) 28%, black 72%);
		transform: translateY(-1px);
		box-shadow: 0 5px 0 black;
	}
	&:active {
		transform: translateY(2px);
		box-shadow: 0 2px 0 black;
	}

	&.disabled {
		pointer-events: none;
		opacity: 0.6;
	}

	&.digit {
		--button-color: var(--color-text);
		--button-bg-color: var(--color-text);
	}
	&.util { --button-color: var(--color-theme-2); font-size: 1.3rem }
	&.const { --button-color: var(--color-theme-3); }
	&.ac {
		--button-bg-color: var(--color-theme-1);
		--button-color: var(--color-theme-1);
	}
	&.equals {
		--button-bg-color: var(--color-theme-4);
		--button-color: var(--color-theme-4);
	}
}

.calc-buttons {
	display: grid;
	justify-content: center;
	gap: clamp(3px, 3vw, 10px);
	--button-size: clamp(35px, 15vw, 60px);
	align-content: baseline;
	grid-template-columns: repeat(var(--columns), var(--button-size));
}




.table-container {
	overflow: auto; /* so the table itself scrolls */
	scrollbar-color: var(--color-theme-2) transparent;
	max-height: 600px;
	width: 100%;
	scrollbar-width: thin;
	background: black;
	border: 1px solid var(--color-bg-1);


	& span {
		font-size: 1.8rem;
		font-weight: 600;
	}
	
	& table {
		user-select: none;
		border-collapse: collapse;
		border-spacing: 0;
		font-family: 'JetBrains Mono', monospace;
		color: var(--color-text-dim);
		font-size: 0.8rem;
		width: 100%;

		/* overflow: hidden would break the header stickiness, so we using this now. */
		contain: paint;
		border-spacing: 0;

		& th {
			position: sticky;
			background: black;
			top: 0;
			left: 0;
			z-index: 1;
			padding: 4px;
			color: var(--color-theme-2);
		}
		& tr:first-child th:first-child {
		    z-index: 2;
		}

		& td {
			padding: 4px;
			font-size: 0.85rem;
			text-align: center;
			border: 1px solid #222;
			position: relative;
				
			&.highlighted {
				color: var(--color-theme-3);
				background: rgb(from var(--color-theme-3) R G B / 0.3);
				font-weight: bold;
			}
		}

		& td:hover {
			&::after, &::before {
				position: absolute;
				pointer-events: none;
				content: '';
				background: rgba(255, 255, 255, 0.08);
			}
			&::after {
				height: 200vh;
				top: -100vh;
				left: 0;
				width: 100%;

			}
			&::before {
				width: 200vw;
				left: -100vw;
				top: 0;
				height: 100%;
			}
		}
	}
}